.contact-form {
  background: rgb(0, 8, 16);
}

.contact-form__info {
  display: flex;
  justify-content: space-evenly;
  font-size: 22px;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .contact-form__info {
    flex-direction: column;
    align-items: center;
    line-height: 2;
    font-size: 18px;
  }
}

.contact-form__info-link {
  color: #eee;
  text-decoration: none;
  display: flex;
}

.contact-form__info-icon {
  width: 22px;
  margin: 0 10px;
}

@media (max-width: 767px) {
  .contact-form__info-icon {
    width: 18px;
    margin: 0 5px;
  }
}

.contact-form__header {
  color: #eee;
  font-size: 20px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 60px;
}

@media (max-width: 767px) {
  .contact-form__header {
    font-size: 16px;
    line-height: 1.4;
  }
}

.contact-form__fields {
  display: grid;
  gap: 20px;
}

.contact-form__field {
  padding: 10px;
  color: #eee;
  background: unset;
  border: 1px solid;
}

.contact-form__field::placeholder {
  text-transform: uppercase;
  color: #aaa;
}

@media (max-width: 767px) {
  .contact-form__field::placeholder {
    font-size: 16px;
  }
}

.contact-form__field--full-row {
  grid-area: 2 / 1 / 2 / 3;
}

@media (max-width: 767px) {
  .contact-form__field--full-row {
    grid-area: unset;
  }
}

.contact-form__submit-button {
  margin-top: 20px;
  padding: 15px;
  width: 100%;
  text-transform: uppercase;
  color: unset;
  font-weight: bold;
  border: 1px solid;
  background: #eee;
  transition: 0.1s;
}

.contact-form__submit-button:hover {
  background: #dedede;
  cursor: pointer;
}

.contact-form__submit-button:active {
  background: #ddd;
}
