.navigation {
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.navigation__inner {
  max-width: 1199px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation__logo {
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: white;
}

@media (max-width: 767px) {
  .navigation__logo {
    font-size: 15px;
  }
}

.navigation__logo-icon {
  height: 40px;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .navigation__logo-icon {
    height: 35px;
  }
}

.navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  transition-property: opacity, transform;
}

@media (max-width: 767px) {
  .navigation__list {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .navigation__list--mobile {
    opacity: 1;
    pointer-events: unset;
    transform: unset;
  }
}

.navigation__list-item {
  list-style: none;
  margin-left: 40px;
}

@media (max-width: 1199px) {
  .navigation__list-item {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .navigation__list-item {
    margin: 5px 0;
  }
}

.navigation__link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

.navigation__link:hover {
  border-bottom: 2px solid;
}

@media (max-width: 767px) {
  .navigation__link:hover {
    border-bottom: unset;
  }
}

.navigation__link-icon {
  width: 20px;
}

.navigation__button {
  border: none;
  background: unset;
  padding: 0;
  display: none;
}

@media (max-width: 767px) {
  .navigation__button {
    display: unset;
  }
}

.navigation__button-icon {
  width: 20px;
  display: block;
}
